.left-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
}

.left-col-spaced{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.center-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.center-col-spaced{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.right-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: end;
}

.right-col-spaced{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: end;
}

.top-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.top-row-spaced{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.center-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.center-row-spaced{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.center-row-around{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.bottom-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: end;
}

.bottom-row-spaced{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.w-100pc{
    width: 100%;
}
.w-100vw{
    width: 100vw;
}
.h-100pc{
    height: 100%;
}
.h-100vh{
    height: 100vh;
}
